@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

:root {
    --max-items-in-view: 6;
    --item-height: 48px;
    --item-gap: 12px;
    --bg-color: #fafafa;
    --txt-color: #171717;
    --domain-color: #a1a1a1;
    --accent-color: #262626;
    --highlight-color: black;
    --selected-bg: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #171717;
        --txt-color: #e5e5e5;
        --domain-color: #a1a1a1;
        --accent-color: #404040;
        --highlight-color: white;
        --selected-bg: #262626;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/* MAIN CONTAINTERS */
body {
    background-color: var(--accent-color);
    padding: 2px;
}
#tab-switcher-cnt {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: var(--bg-color);
    outline: 2px solid var(--accent-color);
    border-radius: 5px;
    padding: 14px;
    gap: 14px;
}
#tabs-cnt {
    height: calc(var(--max-items-in-view) * calc(var(--item-height) + var(--item-gap)) - var(--item-gap));
    display: flex;
    flex-direction: column;
    gap: var(--item-gap);
}
#search-bar-cnt {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    font-size: 16px;
    padding: 4px;
    padding-bottom: 0;
    gap: 10px;
    color: var(--txt-color);
}

/* TAB / LIST ITEM */
ul {
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.tab {
    height: var(--item-height);
    line-height: var(--item-height);
    font-size: 14px;
    width: 100%;
    padding: 0 8px;
    gap: 10px;
    display: flex; align-items: center; overflow: hidden; text-wrap: nowrap;
    text-overflow: ellipsis;
    border-radius: 5px;
    color: var(--txt-color);
    cursor: pointer;
}
.tab:hover {
    outline: 1px solid var(--accent-color);

}
.tab img {
    height: 20px;
}
mark {
    background-color: inherit;
    font-weight: 600;
    text-decoration: underline;
    color: var(--highlight-color);
}
.tab-domain mark {
    font-style: italic;
}
.tab-domain {
    font-size: 12px;
    font-style: italic;
    color: var(--domain-color);
}
.tab-title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: fit-content;
}

.active {
    outline: 1px solid var(--selected-bg);
}

/* SELECTED TAB */
.tab[aria-selected="true"] {
    background-color: var(--selected-bg);
    outline: 1px solid var(--accent-color);
}

/* SEARCH BOX */
input {
    font-size: 16px;
}
input {
    padding: 0;
    background-color: transparent;
    width: 100%;
    color: var(--highlight-color);
}
input:focus {
    outline: none;
}

/* SEPARATOR */
.separator {
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
}
